<main>
  <app-menu 
    [scrollTargetId]="'matSidenavContent'"
    [sidenavOpened]="sidenavOpened"
    (toggleSidenav)="toggleSidenav()"
  ></app-menu>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      #sidenav
      [mode]="!screen.isDesktop() ? 'over' : 'side'"
      [opened]="screen.isDesktop()"
      (openedChange)="onSidenavChanged($event)"
    >
      <app-header
        (toggleSidenav)="toggleSidenav()"
      ></app-header>
    </mat-sidenav>
    <mat-sidenav-content class="content p-6" id="matSidenavContent">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>

</main>


